.popularList{
    width: 100%;
    height: 300px;
}

.title{
    color: #333;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    line-height: 58px;
}

.items{
    float: left;
    width: 231px;
    height: 240px;
    margin-bottom: 14px;
    background-color: #fff;
}

.items:nth-child(n+2){
    margin-left: 17px;
}

.items:hover{
    transform: translateY(-2px);/*向上走两像素*/
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transition: all .2s linear;
}

.items img{
    margin-top: 20px;
    width: 180px;
    height: 180px;
    margin-bottom: 18px;
}