*{
    text-align: center;
}

hr{
    width: 1226px;
    margin: 0 auto;
    border:1px solid #009990;
}

.wrap{
    width: 1226px;
    margin: 0 auto;
}

.category{
    height: 125px;
}

.items{
    float: left;
    width: 290px;
    height: 300px;
    margin-bottom: 14px;
    margin-left: 14px;
    background-color: #fff;
}

.items:hover{
    transform: translateY(-2px);/*向上走两像素*/
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transition: all .2s linear;
}

.items img{
    margin-top: 20px;
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
}

.good-name{
    width: 214px;
    height: 21px;
    margin: 0 auto;/*p元素居中*/
    margin-bottom: 2px;
    font-size: 14px;
    white-space: nowrap;/*不换行*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.good-info{
    width: 214px;
    height: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 12px;
    color: #b0b0b0;
    white-space: nowrap;/*不换行*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.good-price{
    color: #ff6700;
    font-size: 14px;
}

.line {
    /* 添加布局样式，可以根据需要进行调整 */
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
}

.line ul {
    /* 添加布局样式，可以根据需要进行调整 */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.line li {
    /* 添加样式，可以根据需要进行调整 */
    display: inline-block;
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.result-wrapper{
    margin-bottom: 20px;
}

.page-wrapper{
    clear: both;
}

.page{
    /*display: inline-block;*/
    margin-top: 20px;
    margin-left: 350px;
    margin-bottom: 250px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}